@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

body {
	font-family: "Montserrat";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 800;
	color: #555;
}

p {
	line-height: 28px;
}

nav {
	margin-bottom: -10rem;
	z-index: 1;
}

nav li.nav-item a {
	color: white;
}

nav li.nav-item a:hover {
	color: #a79783;
}

section {
	padding: 5rem 0;
}

/*********************************************************
***********************HEADER-SECTION*********************
*********************************************************/

header h1 {
	color: white;
} 

.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-caption {
	top: 35%;
}

.btn {
	height: 55px;
	width: 170px;
	padding: 20px;
	border-radius: 5px;
	background-color: #998675;
	line-height: 15px;
	color: white;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #61554a;
	color: white;
}

a.button {
	font-weight: 800;
	text-decoration: none;
}

#slide-1 {
	background-image: url('../img/background-header.jpg');
}

#slide-2 {
	background-image: url('../img/background-header2.jpg');
}

#slide-3 {
	background-image: url('../img/background-header3.jpg');
}

/*********************************************************
***********************SERVICES-SECTION*******************
*********************************************************/

.line {
	height: 2px;
	width: 50px;
	background-color: #f1eee9;
	margin: auto;
}

section#services div.service:hover h3 {
	color: #c7b299;
}

section#services div.service:hover .line {
	background-color: #c7b299;
}

section#services div.service:hover i {
	color: #c7b299;
}

/*********************************************************
*******************PRESENTATION-SECTION*******************
*********************************************************/

section#presentation {
	background-color: #fbfaf8;
}

section#presentation img {
	margin: auto;
}

/*********************************************************
*******************PURCHASE-SECTION*******************
*********************************************************/

section#purchase {
	background-image: linear-gradient(50deg, #241d1a, #4d3327);
	color: #7b706c;
}

section#purchase h2 {
	color: white;
}

span.colored-text {
	color: #c7b299;
}

section#purchase p {
	margin-bottom: 0;
}

/*********************************************************
*******************PROJECTS-SECTION*******************
*********************************************************/

section#projects a {
	color: black;
}

section#projects li.nav-item a {
	border: 1px solid #ebebeb;
	margin: 0 0.5rem;
}

section#projects li.nav-item a.active {
	background-color: #998675;
}

div.card a.card-link {
	position: relative;
}

div.card div.card-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background: rgba(27, 27, 27, 0.8);
}

div.card div.card-hover div.card-hover-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	color: white;
}

div.card div.card-hover div.card-hover-content i {
	padding: 0 1rem;
}

div.card div.card-caption {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: #fbfaf8;
	color: #8b8b8b;
}

div.card div.card-caption h3 {
	font-weight: 400;
	color: #c7b299;
}

div.card div.card-caption:before {
	position: absolute;
	content: '';
	left: 2rem;
    width: 2rem;
    height: 2rem;
    top: -1rem;
    background: inherit;
    transform: translateX(-50%) rotate(45deg);
}

div.card:hover div.card-hover {
	opacity: 1;
	transition: opacity 0.35s ease-in-out;
}

div.card:hover div.card-hover i:hover {
	color: #c7b299;
}

div.card:hover div.card-caption {
	background-color: #362f2d;
	transition: background-color 0.35s ease-in-out;
}

div.card:hover div.card-caption h3 {
	color: white;
}

div.card:hover div.card-caption p {
	color: #c7b299;
}

section#projects .btn {
	color: white;
}

/*********************************************************
*******************VIDEO-SECTION*******************
*********************************************************/
section#video {
	padding: 10rem 0;
	position: relative;
	width: 100%;
	overflow: hidden;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-60%);
}

section#video .video-caption {
	position: relative;
	width: 100%;
	z-index: 2;
}

section#video .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

/*********************************************************
*******************FEATURES-SECTION*******************
*********************************************************/

section#features i {
	font-size: 16px;
	border-radius: 65%;
	padding: 10px;
	margin: 0 10px;
	color: #fff;
	background-color: #998675;
}

section#features img {
	max-width: 100%;
}

/*********************************************************
*******************ACHIEVEMENTS-SECTION*******************
*********************************************************/

section#achievements {
	background-image: linear-gradient(50deg, #241d1a, #4d3327);
	color: #7b706c;
}

section#achievements .achievement i {
	color: #c6b199;
	padding-bottom: 1rem;
}

section#achievements .achievement p.achievements-count {
	color: white;
	font-size: 3rem;
}

section#achievements .achievement p.achievement-title {
	color: #c6b199;
	text-transform: uppercase;
}

/*********************************************************
*******************POSTS-SECTION*******************
*********************************************************/

div.card div.date {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px;
	height: 60px;
	text-align: center;
	color: white;
}

div.card div.day {
	font-size: 1.5rem;
	padding: 2px;
	background-color: #363636;
	border-radius: 10% 10% 0 0; 
}

div.card div.month {
	font-size: 0.75rem;
	padding: 5px;
	background-color: #252525;
	border-radius: 0 0 10% 10%; 
}

div.card div.card-body {
	padding: 2rem;
}

div.card div.card-body a {
	color: #c7b299;
	text-transform: capitalize;
}
div.card a {
	position: relative;
}

div.card div.card-img {
	width: 100%;
	height: 100%;
	position: absolute;
}

div.card:hover div.day{
	background-color: #c7b299;
	transition: background-color 0.35s ease-in-out;
}

div.card:hover div.month{
	background-color: #a48d72;
	transition: background-color 0.35s ease-in-out;
}

div.card:hover .card-title {
	color: #c7b299;
}

div.card:hover .card-text {
	color: white;
}

div.card:hover  div.card-body{
	background: #362f2d;
	transition: background-color 0.35s ease-in-out;
}

div.card:hover .card-img {
	background-color: rgba(27, 27, 27, 0.7);
	transition: background-color 0.35s ease-in-out;
}

/*********************************************************
*******************CLIENTS-SECTION*******************
*********************************************************/

section#clients {
	background: url('../img/background-section.png');
	background-size: cover;
}

@media (max-width: 420px) {
	.carousel-caption {
		right: 5%;
		left: 5%;
		top: 30%;
	}
}

/*********************************************************
*******************ADDITIONAL-INFO-SECTION*******************
*********************************************************/

section#additional-info {
	background-color: #191919;
}

section#additional-info div#about-company a {
	color: white;
	text-decoration: none;
}

section#additional-info div.title h5 {
	margin-bottom: 2rem;
	text-transform: capitalize;
	color: white;
	font-weight: bold;
}

section#additional-info div.news p {
	margin-bottom: 0;
	text-align: justify;
}

section#additional-info div.news hr {
	background-color: #555;
}

section#additional-info div.news:hover p.date {
	color: white;
}

section#additional-info div.news:hover p.description {
	color: #c7b299;
}

span.twitter-link {
	color: #00bff3;
}

section#additional-info div.news a {
	color: #959595;
	text-decoration: none;
}

section#additional-info div#widget img {
	width: 100%;
	padding: 1rem 0;
}

/*********************************************************
*************************FOOTER***************************
*********************************************************/

footer {
	padding: 3rem 0;
	background-color: #111;
}

footer ul li a {
	color: #555;
}

footer ul li a:hover {
	color: #c7b299;
	text-decoration: none;
}

footer ul li:after {
	content: "";
	padding-left: 1rem;
	border-right: 2px solid #555;
} 

footer ul li:last-child:after {
	content: none;
} 

span.light {
	color: #959595;
}